body {
  margin: 0;
  padding: 0;
  background-image: url("../img/mikuji_bg.png"); /* ← replace with your image path */
  background-size: cover; /* Makes it fill the screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Makes body full height */
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  text-align: center;
  overflow: hidden;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.page img {
  width: 80%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

h1 {
  font-size: 1em;
  margin-bottom: 30px;
}

button,
a {
  font-size: 1em;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #ff2d12;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

button:hover,
a:hover {
  background-color: #ff2d12;
}

.result-image {
  width: 50%;
  max-width: 500px;
  height: auto;
  margin-top: 20px;
  border-radius: 12px;
}

#loading-page img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-top: 50px;
  /* おみくじ箱を振るアニメーション */
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  75% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(0deg);
  }
}
