html {
  font-family: "Zen Maru Gothic", sans-serif;
}

* {
  transition: 0.2s;
}

body #bg {
  background-image: url(../images/top/kumo-01.png), url(../images/top/kumo-02.png), url(../images/top/kumo-03.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto 158px, auto 270px, auto 156px;
  background-position: left -100px top 340px, right -80px top 20px, right -70px bottom -40px;
  background-color: #F9F6F3;
}
body #bg #menu {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}
@media (max-width: 640px) {
  body #bg #menu {
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 0 0;
  }
}
body #bg #menu .site-logo {
  width: 250px;
  height: auto;
}
body #bg #menu .site-logo img {
  width: 100%;
  height: auto;
}
@media (max-width: 640px) {
  body #bg #menu .site-logo {
    width: 80px;
  }
}
body #bg #menu .to-page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
@media (max-width: 640px) {
  body #bg #menu .to-page {
    row-gap: 2px;
  }
}
body #bg #menu .to-page p {
  font-size: 20px;
}
@media (max-width: 640px) {
  body #bg #menu .to-page p {
    font-size: 12px;
  }
}
body #bg #menu .to-page:hover p {
  color: #D02558;
}
body #bg #menu .to-history .img-wrapper {
  width: 100px;
  height: auto;
}
@media (max-width: 640px) {
  body #bg #menu .to-history .img-wrapper {
    width: 50px;
  }
}
body #bg #menu .to-history .img-wrapper img {
  width: 100%;
  height: auto;
}
body #bg #menu .to-top .img-wrapper {
  width: 64px;
  height: auto;
}
@media (max-width: 640px) {
  body #bg #menu .to-top .img-wrapper {
    width: 24px;
  }
}
body #bg #menu .to-top .img-wrapper img {
  width: 100%;
  height: auto;
}
@media (min-width: 641px) and (max-width: 1024px) {
  body #bg #menu .button-large-small {
    display: none;
  }
}
body #bg .main-wrapper {
  width: 600px;
  height: 100vh;
  margin: 0 auto;
}
@media (max-width: 640px) {
  body #bg .main-wrapper {
    width: calc(100% - 40px);
  }
}
body #bg .main-wrapper .button-middle {
  font-size: 20px;
  margin-top: 20px;
  display: none;
}
body #bg .main-wrapper .button-middle:hover {
  color: #D02558;
}
@media (min-width: 641px) and (max-width: 1024px) {
  body #bg .main-wrapper .button-middle {
    display: block;
  }
}
body.index #load {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #F9F6F3;
  z-index: 100;
}
body.index #load .site-title-wapper {
  width: 500px;
  height: auto;
}
@media (max-width: 640px) {
  body.index #load .site-title-wapper {
    width: calc(100% - 40px);
    height: auto;
  }
}
body.index #load .site-title-wapper img {
  width: 100%;
  height: auto;
}
body.index .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body.index .main-wrapper .omikuji-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
body.index .main-wrapper .omikuji-wrapper .button-main {
  font-size: 24px;
}
body.index .main-wrapper .omikuji-wrapper:hover .fill-white {
  fill: #D02558;
}
body.index .main-wrapper .omikuji-wrapper:hover .button-main {
  color: #D02558;
}/*# sourceMappingURL=style.css.map */