@mixin button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid $button-border;
    width: 120px;
    height: 450px;
    background: $button-color;
    font-size: 50px;
}

@mixin btnhover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #fff;
    transition: 0.5s;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: 1025px) {
            @content;
        }
    }
}

$bg-color: #EF6B45;
$button-color: #FFEED2;
$button-border: #ff9900;
$main-font: "Shippori Mincho", serif;

body {
    position: relative;

    background-color: $bg-color;

    .shippori-mincho-regular {
        font-family: "Shippori Mincho", serif;
        font-weight: 400;
        font-style: normal;
    }

    font-family: 'shippori-mincho-regular',
    serif;

    a {
        display: block;
        text-decoration: none;
        color: #000;
        writing-mode: vertical-rl;
    }
}

.index {
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: url(../images/top/bg4.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    h1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        color: #fff;
    }

    .wrapper {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;

        .maincontents {
            display: flex;
            gap: 120px;
            justify-content: center;
            align-items: center;

            @include respond-to("small") {
                flex-direction: column;
            }

            .main-visual {
                @include respond-to("small") {
                    order: 1;
                }

                img {
                    width: 320px;
                    height: auto;
                    animation: expandIn 1s ease-in-out;
                    animation: hotline-miami 1s ease-in-out;
                }
            }

            .playbtn,
            .historybtn {
                @include button-style;

                &:hover {
                    @include btnhover;
                }

                @include respond-to("small") {
                    width: 300px;
                    height: 60px;
                    font-size: 30px;
                }
            }
        }
    }
}

.play {
    background: $bg-color;
    background-image: url(../images/top/bg4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;

    .animation {
        position: absolute;
        transform: translate(-50%, 0%);
        top: 180px;
        left: 50%;

        img {
            width: 320px;
            height: auto;
            animation: first-rotate 1s ease-in-out forwards,
                shake-loop 1.5s ease-in-out 1s infinite;
        }
    }

    #show-result {
        position: absolute;
        top: 830px;
        left: 50%;
        transform: translate(-50%, 0%);
        writing-mode: inherit;
        font-size: 50px;
        color: #fff;

        &:hover {
            color: yellow;
            transition: 0.8s;
        }
    }
}

.result {
    background: $bg-color;
    background-image: url(../images/top/bg4.png);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    h1 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70px;
        left: 50%;
        font-size: 80px;
        color: #fff;
    }

    .wrapper {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;

        .maincontents {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
            margin: 0 auto;

            .btn-group {
                display: flex;
                gap: 30px;

                .btn {
                    font-size: 50px;
                    @include button-style;

                    &:hover {
                        @include btnhover;
                    }
                }
            }

            .js-result-img-wrapper {
                animation: hotline-miami 1s ease-in-out;

                img {
                    width: 400px;
                    height: auto;
                }
            }

            .auto-text {
                display: flex;
                gap: 50px;
                justify-content: center;
                align-items: center;
                width: 298px;
                height: 450px;
                padding: 20px 0;
                background-image: url(../images/result/resultbg.png);
                background-size: cover;
                animation: expandIn 1s ease-in-out;

                #result-text {
                    font-size: 30px;
                    writing-mode: vertical-rl;
                }

                #lucky-wrapper {
                    display: flex;
                    gap: 10px;
                    font-size: 30px;
                    writing-mode: vertical-rl;

                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}


.history {
    background: $bg-color;
    background-image: url(../images/top/bg4.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    h1 {
        text-align: center;
        font-size: 80px;
        color: #fff;
        margin-top: 80px;
    }

    #history-list {
        margin-top: 50px;
        justify-content: center;
        font-size: 20px;
        color: #fff;
    }

    .list-wrapper {
        text-align: center;

        ul {
            flex-direction: column-reverse;
            text-align: left;
            margin: 0 auto;
            padding: 40px;
            overflow-y: scroll;
            width: 800px;
            height: 400px;
            background-image: url(../images/history/historybg.jpeg);
            background-size: cover;
            animation: expandIn 0.8s ease-in-out;

            li {
                color: #000;
                margin-top: 40px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    p {
        #clear-history {
            background: #fff;
            color: #000;
            width: 150px;
            height: 30px;
            border: none;

            &:hover {
                transition: 0.4s;
                background: #ff0000;
                color: #fff;
            }
        }
    }

    p {
        button {
            display: block;
            margin: 30px auto 0;
        }
    }

    a {
        margin: 30px auto 0;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 10px solid $button-border;
            width: 300px;
            height: 70px;
            writing-mode: horizontal-tb;
            font-size: 30px;
            background: $button-color;

            &:hover {
                @include btnhover()
            }
        }
    }
}



@keyframes first-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-150deg);
    }
}

@keyframes shake-loop {
    0% {
        transform: rotate(-150deg) translateY(0);
    }

    20% {
        transform: rotate(-140deg) translateY(10px);
    }

    40% {
        transform: rotate(-160deg) translateY(-10px);
    }

    60% {
        transform: rotate(-145deg) translateY(5px);
    }

    80% {
        transform: rotate(-155deg) translateY(-5px);
    }

    100% {
        transform: rotate(-150deg) translateY(0);
    }
}

@keyframes slideout-down {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes hotline-miami {
    0% {
        opacity: 0;
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(5deg);
    }

    60% {
        opacity: 1;
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5 deg);
    }
}

@keyframes expandIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    70% {
        /* スケールが先に完了し、その後opacityが追いつく */
        opacity: 1;
        transform: scale(1.1);
        /* 少しオーバーシュートして弾む感じ */
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}